body {
    font: 'Arial';
    text-align: left;
}

.more {
    font: 14px;
}

.point {
    font: bold 19px;
}

td {
    text-align: center;
}

.first {
    font: 15px;
    font-style: italic;
}

.second {
    font: 15px;
}

.date {
    float: right;
}

.school {
    font-style: italic;
}

.name {
    font: bold 33px;
    text-align: right;
}

.education .more {
    margin-left: 2%;
}

.cv {
    width: 70%;
    margin-left: 15%;
}

.block ul {
    margin-left: 2%;
}

.block table {
    margin-left: 2%;
}

.ft7{
    font: 11px;
    line-height: 14px;
    position: relative; 
    bottom: 3px;
}

.ft8{
    font: 15px;
    line-height: 17px;
    position: relative; 
    bottom: -2px;
}

.invisible {
    display : none;
}
